<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Sorazora</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Sorazora</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>copyright</key>
    <string>SIL Open Font License (OFL)</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>ascender</key>
    <integer>735</integer>
    <key>descender</key>
    <integer>-265</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string>Created for Xymyric 9. Drawn in Inkscape and compiled using FontForge.</string>
    <key>openTypeHeadCreated</key>
    <string>2023/01/13 20:40:21</string>
    <key>openTypeHheaAscender</key>
    <integer>755</integer>
    <key>openTypeHheaDescender</key>
    <integer>-253</integer>
    <key>openTypeHheaLineGap</key>
    <integer>72</integer>
    <key>openTypeNameVersion</key>
    <string>Version 2.000</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>735</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-265</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>72</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>755</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>253</integer>
    <key>postscriptFontName</key>
    <string>Sorazora-Regular</string>
    <key>postscriptFullName</key>
    <string>Sorazora</string>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>postscriptUnderlineThickness</key>
    <integer>39</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-79</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-25</integer>
      <integer>0</integer>
      <integer>8</integer>
      <integer>9</integer>
      <integer>400</integer>
      <integer>416</integer>
      <integer>432</integer>
      <integer>433</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-234</integer>
      <integer>-233</integer>
      <integer>-205</integer>
      <integer>-204</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <integer>-25</integer>
      <integer>0</integer>
      <integer>8</integer>
      <integer>9</integer>
      <integer>400</integer>
      <integer>416</integer>
      <integer>432</integer>
      <integer>433</integer>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <integer>-234</integer>
      <integer>-233</integer>
      <integer>-205</integer>
      <integer>-204</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>27</integer>
      <integer>30</integer>
      <integer>36</integer>
      <integer>53</integer>
      <integer>65</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>27</integer>
      <integer>65</integer>
      <integer>81</integer>
    </array>
    <key>postscriptBlueFuzz</key>
    <integer>0</integer>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueScale</key>
    <real>0.039625</real>
    <key>postscriptForceBold</key>
    <false/>
    <key>guidelines</key>
    <array/>
  </dict>
</plist>
