<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>H</key>
    <string>H_.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>placeholder</key>
    <string>placeholder.glif</string>
    <key>a.init</key>
    <string>a.init.glif</string>
    <key>a.fina</key>
    <string>a.fina.glif</string>
    <key>b.init</key>
    <string>b.init.glif</string>
    <key>b.medi</key>
    <string>b.medi.glif</string>
    <key>b.fina</key>
    <string>b.fina.glif</string>
    <key>c.init</key>
    <string>c.init.glif</string>
    <key>c.medi</key>
    <string>c.medi.glif</string>
    <key>c.fina</key>
    <string>c.fina.glif</string>
    <key>d.init</key>
    <string>d.init.glif</string>
    <key>d.medi</key>
    <string>d.medi.glif</string>
    <key>d.fina</key>
    <string>d.fina.glif</string>
    <key>e.init</key>
    <string>e.init.glif</string>
    <key>e.medi</key>
    <string>e.medi.glif</string>
    <key>e.fina</key>
    <string>e.fina.glif</string>
    <key>f.init</key>
    <string>f.init.glif</string>
    <key>f.medi</key>
    <string>f.medi.glif</string>
    <key>f.fina</key>
    <string>f.fina.glif</string>
    <key>g.init</key>
    <string>g.init.glif</string>
    <key>g.medi</key>
    <string>g.medi.glif</string>
    <key>g.fina</key>
    <string>g.fina.glif</string>
    <key>h.init</key>
    <string>h.init.glif</string>
    <key>h.medi</key>
    <string>h.medi.glif</string>
    <key>h.fina</key>
    <string>h.fina.glif</string>
    <key>i.init</key>
    <string>i.init.glif</string>
    <key>i.medi</key>
    <string>i.medi.glif</string>
    <key>i.fina</key>
    <string>i.fina.glif</string>
    <key>j.fina</key>
    <string>j.fina.glif</string>
    <key>k.init</key>
    <string>k.init.glif</string>
    <key>k.medi</key>
    <string>k.medi.glif</string>
    <key>k.fina</key>
    <string>k.fina.glif</string>
    <key>l.init</key>
    <string>l.init.glif</string>
    <key>l.medi</key>
    <string>l.medi.glif</string>
    <key>l.fina</key>
    <string>l.fina.glif</string>
    <key>m.init</key>
    <string>m.init.glif</string>
    <key>m.medi</key>
    <string>m.medi.glif</string>
    <key>m.fina</key>
    <string>m.fina.glif</string>
    <key>n.fina</key>
    <string>n.fina.glif</string>
    <key>o.init</key>
    <string>o.init.glif</string>
    <key>o.medi</key>
    <string>o.medi.glif</string>
    <key>o.fina</key>
    <string>o.fina.glif</string>
    <key>p.fina</key>
    <string>p.fina.glif</string>
    <key>q.fina</key>
    <string>q.fina.glif</string>
    <key>r.init</key>
    <string>r.init.glif</string>
    <key>r.medi</key>
    <string>r.medi.glif</string>
    <key>r.fina</key>
    <string>r.fina.glif</string>
    <key>s.init</key>
    <string>s.init.glif</string>
    <key>s.medi</key>
    <string>s.medi.glif</string>
    <key>s.fina</key>
    <string>s.fina.glif</string>
    <key>t.init</key>
    <string>t.init.glif</string>
    <key>t.medi</key>
    <string>t.medi.glif</string>
    <key>t.fina</key>
    <string>t.fina.glif</string>
    <key>u.fina</key>
    <string>u.fina.glif</string>
    <key>v.fina</key>
    <string>v.fina.glif</string>
    <key>w.fina</key>
    <string>w.fina.glif</string>
    <key>x.init</key>
    <string>x.init.glif</string>
    <key>x.medi</key>
    <string>x.medi.glif</string>
    <key>x.fina</key>
    <string>x.fina.glif</string>
    <key>y.init</key>
    <string>y.init.glif</string>
    <key>y.medi</key>
    <string>y.medi.glif</string>
    <key>y.fina</key>
    <string>y.fina.glif</string>
    <key>z.fina</key>
    <string>z.fina.glif</string>
    <key>xy_kashida</key>
    <string>xy_kashida.glif</string>
    <key>x.long</key>
    <string>x.long.glif</string>
    <key>z.long</key>
    <string>z.long.glif</string>
    <key>xy_fullstop</key>
    <string>xy_fullstop.glif</string>
    <key>xy_comma</key>
    <string>xy_comma.glif</string>
    <key>xy_commacn</key>
    <string>xy_commacn.glif</string>
    <key>xy_exclamdown</key>
    <string>xy_exclamdown.glif</string>
    <key>xy_questiondown</key>
    <string>xy_questiondown.glif</string>
    <key>xy_colon</key>
    <string>xy_colon.glif</string>
    <key>xy_semicolon</key>
    <string>xy_semicolon.glif</string>
    <key>xy_period</key>
    <string>xy_period.glif</string>
    <key>xy_ellipsis</key>
    <string>xy_ellipsis.glif</string>
    <key>xy_apos</key>
    <string>xy_apos.glif</string>
    <key>xy_kome</key>
    <string>xy_kome.glif</string>
    <key>xy_lentleft</key>
    <string>xy_lentleft.glif</string>
    <key>xy_lentright</key>
    <string>xy_lentright.glif</string>
    <key>xy_lentwhiteleft</key>
    <string>xy_lentwhiteleft.glif</string>
    <key>xy_lentwhiteright</key>
    <string>xy_lentwhiteright.glif</string>
    <key>xy_kagileft</key>
    <string>xy_kagileft.glif</string>
    <key>xy_kagiright</key>
    <string>xy_kagiright.glif</string>
    <key>xy_kagiwhiteleft</key>
    <string>xy_kagiwhiteleft.glif</string>
    <key>xy_kagiwhiteright</key>
    <string>xy_kagiwhiteright.glif</string>
    <key>xy_kikkoleft</key>
    <string>xy_kikkoleft.glif</string>
    <key>xy_kikkoright</key>
    <string>xy_kikkoright.glif</string>
    <key>xy_kikkowhiteleft</key>
    <string>xy_kikkowhiteleft.glif</string>
    <key>xy_kikkowhiteright</key>
    <string>xy_kikkowhiteright.glif</string>
    <key>xy_yamaleft</key>
    <string>xy_yamaleft.glif</string>
    <key>xy_yamaright</key>
    <string>xy_yamaright.glif</string>
    <key>xy_yamadblleft</key>
    <string>xy_yamadblleft.glif</string>
    <key>xy_yamadblright</key>
    <string>xy_yamadblright.glif</string>
    <key>xy_wakai</key>
    <string>xy_wakai.glif</string>
    <key>xy_wasou</key>
    <string>xy_wasou.glif</string>
    <key>ampersand.latn</key>
    <string>ampersand.latn.glif</string>
    <key>xy_zero</key>
    <string>xy_zero.glif</string>
    <key>xy_one</key>
    <string>xy_one.glif</string>
    <key>xy_two</key>
    <string>xy_two.glif</string>
    <key>xy_three</key>
    <string>xy_three.glif</string>
    <key>xy_four</key>
    <string>xy_four.glif</string>
    <key>xy_five</key>
    <string>xy_five.glif</string>
    <key>xy_six</key>
    <string>xy_six.glif</string>
    <key>xy_seven</key>
    <string>xy_seven.glif</string>
    <key>xy_eight</key>
    <string>xy_eight.glif</string>
    <key>xy_nine</key>
    <string>xy_nine.glif</string>
    <key>period.override</key>
    <string>period.override.glif</string>
    <key>comma.override</key>
    <string>comma.override.glif</string>
    <key>exclam.override</key>
    <string>exclam.override.glif</string>
    <key>question.override</key>
    <string>question.override.glif</string>
    <key>colon.override</key>
    <string>colon.override.glif</string>
    <key>semicolon.override</key>
    <string>semicolon.override.glif</string>
    <key>ellipsis.override</key>
    <string>ellipsis.override.glif</string>
    <key>quoteleft.override</key>
    <string>quoteleft.override.glif</string>
    <key>quotesingle.override</key>
    <string>quotesingle.override.glif</string>
    <key>quoteright.override</key>
    <string>quoteright.override.glif</string>
    <key>quotedblleft.override</key>
    <string>quotedblleft.override.glif</string>
    <key>quotedbl.override</key>
    <string>quotedbl.override.glif</string>
    <key>quotedblright.override</key>
    <string>quotedblright.override.glif</string>
    <key>zero.lining</key>
    <string>zero.lining.glif</string>
    <key>one.lining</key>
    <string>one.lining.glif</string>
    <key>two.lining</key>
    <string>two.lining.glif</string>
    <key>three.lining</key>
    <string>three.lining.glif</string>
    <key>four.lining</key>
    <string>four.lining.glif</string>
    <key>five.lining</key>
    <string>five.lining.glif</string>
    <key>six.lining</key>
    <string>six.lining.glif</string>
    <key>seven.lining</key>
    <string>seven.lining.glif</string>
    <key>eight.lining</key>
    <string>eight.lining.glif</string>
    <key>nine.lining</key>
    <string>nine.lining.glif</string>
    <key>K_K</key>
    <string>K__K_.glif</string>
    <key>uni2011</key>
    <string>uni2011.glif</string>
  </dict>
</plist>
